{% extends "account/base_manage_email.html" %}
{% load allauth i18n %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/email.css' %}">
{% endblock extra_head %}

{% block head_title %}
    Correo electrónico
{% endblock head_title %}

{% block content %}

<div class="wrapper">
    <!-- Menú Lateral -->
    <div class="sidebar">
        <h2>Menú</h2>
        <ul>
            <li><a href="{% url 'account_email' %}">Cambiar correo electrónico</a></li>
            <li><a href="{% url 'account_change_password' %}">Cambiar la contraseña</a></li>
            <li><a href="{% url 'account_logout' %}">Mi perfil</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Correo electrónico</h1>

        {% if emailaddresses %}
            <p>Las siguientes direcciones de correo electrónico están asociadas con tu cuenta:</p>
            {% url 'account_email' as email_url %}
            <form action="{{ email_url }}" method="post">
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        <label>
                            <input type="radio" name="email" value="{{ emailaddress.email }}" id="{{ radio.id }}" {% if radio.checked %}checked{% endif %}>
                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <span class="badge badge-success">Verificado</span>
                            {% else %}
                                <span class="badge badge-warning">Sin verificar</span>
                            {% endif %}
                            {% if emailaddress.primary %}
                                <span class="badge badge-primary">Primario</span>
                            {% endif %}
                        </label>
                    {% endwith %}
                {% endfor %}
                
                <div class="actions">
                    <button type="submit" name="action_primary" class="btn">Hacer primario</button>
                    <button type="submit" name="action_send" class="btn btn-outline-primary">Reenviar verificación</button>
                    <button type="submit" name="action_remove" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        {% else %}
            <div class="warn-no-email">No se han encontrado direcciones de correo electrónico.</div>
        {% endif %}

        {% if can_add_email %}
            <h2>Añade un correo electrónico nuevo</h2>
            <form action="{{ action_url }}" method="post" class="add-email-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action_add" class="btn">Añadir Email</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
