{% extends "account/password_change.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sidebar">
            <h3>Menú</h3>
            <ul>
                <li><a href="{% url 'account_email' %}">Cambiar correo electrónico</a></li>
                <li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>
                <li><a href="{% url 'account_logout' %}">Mi perfil</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="card">
                <h1>Cambiar Contraseña</h1>

                <form action="{{ form_url }}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>

                <a href="{% url 'account_login' %}">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
{% endblock content %}