{% extends 'base_generic.html' %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <h2>Crear Cuenta</h2>
            <p>¡Únete a nuestra comunidad y empieza a disfrutar de todos nuestros productos!</p>
            <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                    {{ form.username }}
                    <div class="error-message">
                        {% for error in form.username.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                    {{ form.email }}
                    <div class="error-message">
                        {% for error in form.email.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                    {{ form.password1 }}
                    <div class="error-message">
                        {% for error in form.password1.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña</label>
                    {{ form.password2 }}
                    <div class="error-message">
                        {% for error in form.password2.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>

            <div class="auth-footer">
                <p>¿Ya tienes una cuenta? <a href="{% url 'account_login' %}">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}