{% extends 'base_generic.html' %}
{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-content">
            <h2>Crear Cuenta</h2>
            <p>¡Únete a nuestra comunidad y empieza a disfrutar de todos nuestros productos!</p>
            <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>

            <div class="auth-footer">
                <p>¿Ya tienes una cuenta? <a href="{% url 'account_login' %}">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}