{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Confirmar pedido</h1>
    </div>
</section>

<!-- Contenido principal -->
<section class="main-content">
    <div class="container featured-products">
        <!-- Lista de productos en el carrito -->
        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <!-- Verificar si hay productos en el carrito -->
            <div class="products-grid">
                {% for item in cart_items %}
                <div class="product-card">
                    <img src="{{ item.product_id.image.url }}" alt="{{ item.product.name }}">
                    <div class="product-details">
                        <h3>{{ item.product_id.name }}</h3>
                        <p class="price">
                            Precio unitario: {{ item.unity_price|floatformat:2 }} €
                        </p>
                        <p class="price">
                            Cantidad: {{ item.quantity }}
                        </p>
                        <p class="price">
                            Total: {{ item.order_product_price|floatformat:2 }} €
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>Total del Carrito: <span class="cart-total">{{ cart_total|floatformat:2 }} €</span>
                <div class="shipping">
                    <h3>Costo de envío: <span style="color: red; font-weight: bold;">{{ order.shipping_price|floatformat:2 }} €</span></h3>
            </h3>
            <form method="POST" action="{% url 'confirmed_order' %}">
                <body>Se enviará un correo de confirmación a la siguiente dirección:</body>
            
                <fieldset>
                    <legend>Información Personal</legend>
                    
                    <div>
                        {% if authenticated %}
                        <label for="email"><strong>Email:</strong> {{ user.email }}</label>
                        {% else %}
                        <label for="email"><strong>Email:</strong></label>
                        <input type="email" name="email" id="email" value="{{ email }}" required>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if authenticated %}
                        <label for="first_name"><strong>Nombre:</strong> {{ user.first_name }}</label>
                        {% else %}
                        <label for="first_name"><strong>Nombre:</strong></label>
                        <input type="text" name="first_name" id="first_name" value="{{ first_name }}" required>
                        {% endif %}
                    </div>
            
                    <div>
                        {% if authenticated %}
                        <label for="last_name"><strong>Apellido:</strong> {{ user.last_name }}</label>
                        {% else %}
                        <label for="last_name"><strong>Apellido:</strong></label>
                        <input type="text" name="last_name" id="last_name" value="{{ last_name }}" required>
                        {% endif %}
                    </div>
                </fieldset>
            
                <fieldset>
                    <legend>Método de Pago</legend>
                    <div>
                        <label>
                            <input type="radio" name="payment_method" value="card" required>
                            Tarjeta
                        </label>
                        <label>
                            <input type="radio" name="payment_method" value="cash">
                            Efectivo
                        </label>
                    </div>
                </fieldset>
            
                <fieldset>
                    <legend>Dirección de Envío</legend>
                    <div>
                        <label for="country"><strong>País:</strong></label>
                        <input type="text" name="country" id="country" required>
                    </div>
                    
                    <div>
                        <label for="city"><strong>Ciudad:</strong></label>
                        <input type="text" name="city" id="city" required>
                    </div>
            
                    <div>
                        <label for="postal_code"><strong>Código postal:</strong></label>
                        <input type="text" name="postal_code" id="postal_code" required>
                    </div>
                    
                    <div>
                        <label for="street"><strong>Calle:</strong></label>
                        <input type="text" name="street" id="street" required>
                    </div>
            
                    <div>
                        <label for="number"><strong>Número:</strong></label>
                        <input type="text" name="number" id="number" required>
                    </div>
            
                    <div>
                        <label for="apartment_number"><strong>Apartamento:</strong> (Si no vive en un piso no rellene esta casilla)</label>
                        <input type="text" name="apartment_number" id="apartment_number">
                    </div>
                </fieldset>
                <h2>Total a Pagar: <span class="total-price">{{ total_with_shipping|floatformat:2 }} €</span></h2>
                {% csrf_token %}
                <button type="submit" class="btn btn-checkout">Confirmar pedido</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}