{% extends 'base_generic.html' %}
{% load static %}
{% load category_template_tags %}

{% block content %}

    <section class="hero">
        <div class="hero-text">
            <h1>Pedido realizado con exito!</h1>
            Muchas gracias por su confianza, ¡esperamos verle pronto!

        </div>
    </section>
    <section>
        <div class="hero-text">
            <ul>
                <h2>
                    Resumen de datos de entrega
                </h2>
                <!-- Mostrar el número de pedido -->
                <li><strong>Número de pedido:</strong> {{ order.id }}</li>
                <!-- Mostrar el nombre del usuario -->
                <li><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</li>
                <!-- Dirección de entrega -->
                <li><strong>Dirección completa:</strong> {{ order.address.street }} {{ order.address.number }} - {{ order.address.city }}, {{ order.address.country }} - Código Postal: {{ order.address.postal_code }}</li>
                <br>
                <!-- Resumen de productos comprados -->
                <h2>Resumen depedido:</h2>
                    {% for item in order_products %}
                        <li>
                            <!-- Mostrar nombre del producto y precio -->
                            {{ item.product_id.name }} - €{{ item.product_id.price|floatformat:2 }}
        
                            <!-- Verificar si hay un precio con descuento -->
                            {% if item.product_id.discount_price %}
                                (Descuento: €{{ item.product_id.discount_price|floatformat:2 }})
                            {% endif %}
        
                            <!-- Mostrar la cantidad de productos -->
                            x {{ item.quantity }}
                        </li>
                    {% endfor %}
                <li><strong>Precio total:</strong> {{ total_price|floatformat:2}} €</li>
                <li><a href="{% url 'home' %}">Volver al inicio</a></li>

            </ul>
        </div>
        
    </section>

{% endblock content %}
