{% extends 'base_generic.html' %}
{% load static %}
{% load category_template_tags %}

{% block content %}
    <!-- Resumen de pago -->
    <section class="hero">
        <div class="hero-text">
            <h1>Resumen de Pago</h1>
        </div>
    </section>
    <section>
        <div class="hero-text">
            <ul>
                {% for item in order_products %}
                    <li>
                        {{ item.product_id.name }} - €{{ item.product_id.price|floatformat:2 }}
                        {% if item.product_id.discount_price %}
                            (Descuento: €{{ item.product_id.discount_price|floatformat:2 }})
                        {% endif %}
                        x {{ item.quantity }}
                    </li>
                {% endfor %}
            </ul>
            <p><strong>Total a pagar: €{{ total_price|floatformat:2 }}</strong></p>

            <!-- Formulario de pago -->
            <form id="payment-form">
                <div id="card-element">
                    <!-- Un campo para la tarjeta de crédito se generará aquí -->
                </div>
                <button id="submit-button" class="btn">Pagar</button>
            </form>
        </div>
    </section>

   

    <!-- Cargar Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        // Configuración de Stripe en el frontend
        const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        const clientSecret = '{{ client_secret }}';

        const elements = stripe.elements();
        const cardElement = elements.create('card');
        cardElement.mount('#card-element');

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const { paymentIntent, error } = await stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: cardElement,
                }
            });

            if (error) {
                console.error(error.message);
            } else {
                // Redirigir a la página de éxito si el pago es exitoso
                urlpayment_success = '/payment/success/'+'{{ order_id }}'+'/';
                window.location.href = urlpayment_success;
            }
        });
    </script>

</body>
</html>

{% endblock content %}
