{% extends 'base_generic.html' %}

{% block content %}
<section class="product-detail">
    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="details">
        <h1>{{ product.name }}</h1>
        
        <p><strong>Descripción:</strong> {{ product.description }}</p>
        
        <p class="price">
            {% if product.discount_price %}
                <span class="discount-price">{{ product.discount_price }} €</span>
                <span class="original-price">{{ product.price }} €</span>
            {% else %}
                {{ product.price }} €
            {% endif %}
        </p>
        
        <p><strong>Stock:</strong> {{ product.stock }}</p>
        <p><strong>Departamento:</strong> {{ product.department }}</p>
        <p><strong>Sección:</strong> {{ product.section }}</p>
        <p><strong>Fábrica:</strong> {{ product.factory }}</p>
        <p><strong>Categoría:</strong> {{ product.product_type }}</p>
        
        {% if product.is_available %}
        <div class="action-row">
            <form action="{% url 'update_cart' %}?product_id={{ product.id }}&quantity=quantity" method="GET">
                <div class="quantity-selector">
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ product.stock }}" data-max-stock="{{ product.stock }}">
                </div>
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" class="btn btn-add-cart">Agregar al Carrito</button>
            </form>
        </div>
        <p id="quantity-error" style="color: red; display: none;">La cantidad debe ser un número entre 1 y {{ product.stock }}.</p>
        {% else %}
            <p class="out-of-stock">Producto Agotado</p>
        {% endif %}
    </div>
</section>

<!-- Productos Recomendados -->
<section class="recommended-products">
    <h2>Productos Recomendados</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% if recommended_products %}
                {% for recommended_product in recommended_products %}
                    {% if recommended_product.is_available %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <a href="{{ recommended_product.get_absolute_url }}">
                                    <img src="{{ recommended_product.image.url }}" alt="{{ recommended_product.name }}">
                                </a>
                                <h3>{{ recommended_product.name }}</h3>
                                <p class="price">
                                    {% if recommended_product.discount_price %}
                                    <span class="discount-price">{{ recommended_product.discount_price }} €</span>
                                    <span class="original-price">{{ recommended_product.price }} €</span>
                                    {% else %}
                                    {{ recommended_product.price }} €
                                    {% endif %}
                                </p>
                                <a href="{% url 'update_cart' %}?product_id={{ product.id }}&quantity=1" class="btn btn-add-cart">Agregar al Carrito</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No hay productos recomendados.</p>
            {% endif %}
        </div>
        <!-- Controles del carrusel -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

        
    </div>
</section>
{% endblock %}
